<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Owl Carousel Min.css  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Owl Carousel Theme -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Fontawosome  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Custom Css  -->
    <link rel="stylesheet" href="../css/styles.css" />
    <!-- Title  -->
    <title>Clean & Green</title>
  </head>

  <body>
    <!-- Navbar  -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img src="../assets/images/Logo.png" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span
            class="fas fa-bars bg-white text-dark pe-3 px-3 pt-1 py-1"
          ></span>
        </button>
        <div
          class="collapse navbar-collapse mx-auto"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mission</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sponsors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                About Us
              </a>
              <ul
                class="dropdown-menu bg-dark"
                aria-labelledby="navbarDropdown"
              >
                <li><a class="dropdown-item" href="#">Team</a></li>
                <li><a class="dropdown-item" href="#">Location</a></li>
                <li>
                  <a class="dropdown-item" href="#">Social Accounts</a>
                </li>
              </ul>
            </li>
            <button class="signup text-white mx-3">
              <a href="../layouts/sign.html">Sign Up</a>
            </button>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Slider  -->
    <section>
      <div class="container-fluid slider">
        <div class="row">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="card border-0 shadow">
                <img
                  src="../assets/images/5900584.jpg"
                  alt="image"
                  class="card-img-top"
                />
              </div>
            </div>
            <!-- Item Ends -->
            <div class="item mb-4">
              <div class="card border-0 shadow">
                <img
                  src="../assets/images/deforestation.jpg"
                  alt="image"
                  class="card-img-top"
                />
              </div>
            </div>
            <!-- Item Ends -->
            <div class="item mb-4">
              <div class="card border-0 shadow">
                <img
                  src="../assets/images/slider3.jpg"
                  alt="image"
                  class="card-img-top"
                />
              </div>
            </div>
            <!-- Item Ends -->
            <div class="item mb-4">
              <div class="card border-0 shadow">
                <img
                  src="../assets/images/slider4.jpg"
                  alt="image"
                  class="card-img-top"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Sections  -->
    <!-- Section -1  -->

    <section class="section-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="green-img">
              <img
                src="../assets/images/3759827_76253.jpg"
                class="img-fluid"
                alt="Image is Loading"
              />
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="think-green mx-auto">
              <h2>Help Us Save To Nature <span class="fas fa-tree"></span></h2>
              <p>
                <span class="me-2 fas fa-chevron-right"></span> We,re Loosing Our
                Homeland
              </p>
              <p>
                <span class="me-2 fas fa-chevron-right"></span> Let,s Save Trees &
                Nature
              </p>
              <p>
                <span class="me-2 fas fa-chevron-right"></span> Stop Destroying
                Nature
              </p>
              <p><span class="me-2 fas fa-chevron-right"></span> Use RecycleBins</p>
              <p>
                <span class="me-2 fas fa-chevron-right"></span> Be a Part Of Clean &
                Green
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Ended  -->
    <!-- Section -2  -->
    <section class="section-2 mt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="deforestation-card">
              <h4 class="text-white" id="text"></h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section-2 Ends HEre  -->
    <!-- Mission Section  -->
    <div class="mi-head">
      <h2 class="mt-2">Our Mission</h2>
     </div>
    <section class="mission mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="mission-card mt-1">
              <div class="m-icon">
                <i class="fas fa-recycle fa-2x"></i>
              </div>
              <h5>Recycle Plastic</h5>
              <p>Only 25% Of Plastic Is Recycled In Pakistan</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="mission-card mt-1">
              <div class="m-icon">
                <i class="fa-solid fa-tree fa-2x"></i>
                <i class="fa-solid fa-tree"></i>
              </div>
              <h5>Plantation</h5>
              <p>Plant 1M Plants Per Year</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="mission-card mt-1">
              <div class="m-icon">
                <i class="fa-solid fa-trash-can fa-2x"></i>
              </div>
              <h5>Waste Management</h5>
              <p>
                Aim To Control 50% Of Waste <br />
                In 5 Years
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="mission-card mt-1">
              <div class="m-icon">
                <i class="fas fa-recycle fa-2x"></i>
              </div>
              <h5>Awareness Sessions</h5>
              <p>Aware People About Climate Change Cause By Land Pollution</p>
            </div>
          </div>
          <hr class="hr mx-auto mt-2" />
        </div>
      </div>
    </section>
    <!-- Mission Section Ends Here  -->

    <!-- Section-3  -->
    <section class="section-3 mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-container">
              <i class="fa-regular fa-face-grin fa-2x"></i>
              <div class="counter" data-target="12000"></div>
              <span>Happy Clients</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-container">
              <i class="fa-regular fa-calendar-check fa-2x"></i>
              <div class="counter" data-target="5000"></div>
              <span>Events</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-container">
              <i class="fas fa-users fa-2x"></i>
              <div class="counter" data-target="7500"></div>
              <span>Members</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-container">
              <i class="fas fa-share-nodes fa-2x"></i>
              <div class="counter" data-target="7500"></div>
              <span>Shares</span>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- JQUERY -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- CDN FILES -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- Fontawosome  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
      integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- LINK TO MAIN JS  -->

    <script src="../js/main.js"></script>
  </body>
</html>
